.bg-gray {
  background-color: var(--gray-3);
}

.main-padding {
  padding-block: var(--size-8);
}

.container {
  inline-size: min(85rem, 100% - 2rem);
  margin-inline: auto;
}

.flow-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flow-content > * {
  margin-block: 0;
}

.flow-content > * + * {
  margin-block-start: var(--size-4);
}

.wrapper {
  max-inline-size: 65rem;
  margin-inline: auto;
  padding: 0 var(--size-3);
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
