.main-header {
  font-family: 'Raleway';
  color: var(--gray-7);
  display: flex;
  gap: var(--size-6);
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: var(--size-5) var(--size-4);
  & a {
    text-decoration: none;
  }
  & nav {
    display: flex;
    gap: var(--size-5);
    & a {
      text-transform: lowercase;
      line-height: 1;
      &:hover {
        border-block-end: 2px solid #b5d4a0;
      }
      &[aria-current='page'] {
        color: var(--gray-9);
        border-block-end: 2px solid var(--gray-6);
      }
    }
  }
  & .main-header__logo {
    min-inline-size: 8rem;
    margin-inline-start: auto;
    text-align: end;
    text-transform: uppercase;
  }
}
