.main-header {
  font-family: 'Raleway';
  color: var(--gray-7);
  display: flex;
  gap: var(--size-3);
  flex-flow: column-reverse;
  align-items: center;
  padding: var(--size-2) var(--size-7);
  & a {
    text-decoration: none;
    letter-spacing: 0.1em;
  }
  & nav {
    display: flex;
    gap: var(--size-6);
    & a {
      text-transform: lowercase;
      line-height: 1;
      margin-block: var(--size-2);
      padding-inline: 0;
      &:hover {
        border-block-end: 2px solid #b5d4a0;
      }
      &[aria-current='page'] {
        color: var(--gray-9);
        border-block-end: 2px solid var(--gray-6);
      }
    }
  }
  & .main-header__logo {
    min-inline-size: 8rem;
    text-align: end;
    text-transform: uppercase;
    & p {
      font-size: 0.85rem;
    }
  }
  .logo {
    inline-size: clamp(5rem, 20vw, 7rem);
    padding-inline-start: 0.5rem;
    color: var(--gray-5);
    margin-block-end: var(--size-2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    @media (--sm-n-above) {
      margin-inline-end: unset;
    }
  }
  @media (--sm-n-above) {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: var(--size-5);
  }
}
