.main-header {
  font-family: 'Raleway';
  color: var(--gray-7);
  display: flex;
  gap: var(--size-3);
  flex-flow: column;
  align-items: center;
  padding: var(--size-5) var(--size-7);
  & a {
    text-decoration: none;
    letter-spacing: 0.1em;
  }
  & nav {
    display: flex;
    gap: var(--size-6);
    & a {
      text-transform: lowercase;
      line-height: 1;
      margin-block: var(--size-2);
      &:hover {
        border-block-end: 2px solid #b5d4a0;
      }
      &[aria-current='page'] {
        color: var(--gray-9);
        border-block-end: 2px solid var(--gray-6);
      }
    }
  }
  & .main-header__logo {
    min-inline-size: 8rem;
    text-align: end;
    text-transform: uppercase;
    & p {
      font-size: 0.85rem;
    }
  }
}
@media (--sm-n-above) {
  .main-header {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
